<div class="toppage">
<div class ="top-up">

<h1 class="top">Household account
    <div class ="user">
    <%if user_signed_in?%>
    <%= link_to '新規登録', "/", class: "sign-up" %></li>
    <%=current_user.name%>
    <%else%>
    <%= link_to 'ログイン', "/", class: "login" %></li>
    <%= link_to 'ログアウト', "/", class: "login" %></li>
    <%end%>
    </div>
   </h1>

<%= form_with(model: @account, local: true) do |form| %>

  <div class="title">
    <h class="form-tag">タイトル</h>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <h class="form-tag">内容</h>
    <%= form.text_field :content %>
  </div>

    <div class="time">
    <h class="form-tag">時間</h>
    <%= form.date_select :start_time %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>

<h class = "back">
<%= link_to '戻る', "/" %>
</h>


<div class="col-md-8">
<%= month_calendar events: @accounts do |date, accounts| %>
  <%= date.day %>

  <% accounts.each do |account| %>
    <div>
      <%= account.title%><h>：</h>
      <%= account.content.to_s(:delimited)%><h>円</h>

    </div>
  <% end %>
<% end %>
</div>

<div class="last">Household account</div>