


<div class="toppage">
<div class ="top-up">


   <h1 class="top">Household account
    <div class ="user">
    
    <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    <%= current_user.name%>
    <%else%>
    <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <%= link_to 'ログイン', new_user_session_path, class: "login" %>
    <%end%>
    </div>
   </h1>
</div>
<br>

<div class="row">
<div class="col-md-4">
	


<%= form_with model:@account, local: true do |form| %>



  <div class="title">
    <h class="form-tag">タイトル</h>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <h class="form-tag">金額</h>
    <%= form.text_field :content %>
  </div>

  <div class="time">
    <h class="form-tag">日付</h>
    <%= form.date_select :start_time %>
  </div>

 <div class="submit">
    <%= form.submit "COUNT"%>
 </div>
<% end %>


</div>
<%i = 0%>
<%sum = []%>
<% @accounts.each do |account| %>
 <%sum << account.content %>
 <% i = i + 1%>
<% end %>

<h class="total">
今月の出費金額：
<%=number_to_currency(sum.sum, :unit => "¥",:precision => 0)%>
</h>

<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @accounts do |date, accounts| %>
  <%= date.day %>

  <%if user_signed_in?%>
  <% accounts.each do |account| %>
    <%if current_user.id == account.user_id %>
    <div>
      <%= link_to account.title, account_path(account.id) %><h>：</h>
      <%= link_to account.content.to_s(:delimited), account_path(account.id) %><h>円</h>
    </div>
    <%end%>
  <% end %>
 <% end %>


<% end %>
</div>
</div>
</div>

<div class="last">Household account</div>


