
<div class="toppage">
<div class ="top-up">

<h1 class="top">Household account
    <div class ="user">
    <%if user_signed_in?%>
      <%= link_to 'ログアウト', "/", class: "login" %></li>
      <%= current_user.name%>
      <%else%>
      <%= link_to 'ログイン', "/", class: "login" %></li>
      <%= link_to '新規登録', "/", class: "sign-up" %></li>
      <%end%>
    </div>
   </h1>

<div class="show">
<div class="title">
    <h class="form-tag">タイトル
      <%= @account.title %>
      </h>
</div>

<div class="content">
  <h class="form-tag">金額：
  <%= number_to_currency(@account.content, :unit =>"￥",:precision => 0) %>
  </h>
</div>

  <div class="time">
    <h class="form-tag">日付
  <%= @account.start_time.strftime("%m-%d") %>
  </h>
</div>

<%= link_to '編集', edit_account_path, class: "btn-edit"%>
<%= link_to '消去',account_path, method: :delete, data: { confirm: '本当に?' }, class: "btn-destroy"%>
<%= link_to '戻る', "/", class:"btn-back" %>
<br>


<%i = 0%>
<%sum = []%>
<% @accounts.each do |account| %>
 <%sum << account.content %>
 <% i = i + 1%>
<% end %>

<h class="total">
今月の出費金額：
<%=number_to_currency(sum.sum, :unit => "¥",:precision => 0)%>
</h>




<div class="col-md-8">
<%= month_calendar events: @accounts do |date, accounts| %>
  <%= date.day %>

  <% accounts.each do |account| %>
    <div>
      <%= account.title%><h>：</h>
      <%= number_to_currency(account.content, :unit =>"￥",:precision => 0)%>

    </div>
  <% end %>
<% end %>
</div>
</div>

<div class="last">Household account</div>


